.feynman__title {
  max-width: 648px;
  width: 100%;
  margin: 0 auto 70px;
  padding-top: 100px;
  text-align: center;
  font-size: 120px;
  font-weight: var(--semi-bold-font-weight);
  line-height: 1.15;
}
