:root {
  --background-dark: #1f1f1f;
  --off-white-color: #f2f2f2;
  --accent-blue: #2f80ed;
  --text-black: #000;
  --normal-font-weight: 400;
  --semi-bold-font-weight: 700;
}

div,
h1,
h2,
h3,
h4,
section,
header,
img,
article,
p,
a,
ol,
li {
  border: 1px solid red;
}

body {
  margin: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: var(--text-black);
  margin: 0 auto;
}

/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--off-white-color);
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
  font-weight: var(--normal-font-weight);
  margin: 0;
}

.header__link {
  color: var(--accent-blue);
  text-decoration: none;
}

.header__main-illustration {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--accent-blue);
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

/* Header end */

/* Description */

.description {
  margin: 100px auto;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: var(--normal-font-weight);
  color: var(--accent-blue);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: var(--normal-font-weight);
}

.two-columns__paragraph_middle {
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: var(--semi-bold-font-weight);
}

/* Description end */

/* Digits */

.digits {
  margin: 100px auto;
}

/* Digits end */

/* Section components */

.section-title {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: var(--semi-bold-font-weight);
}

.section-title_theme_dark {
  background-color: var(--background-dark);
  color: var(--off-white-color);
}

.section-subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: var(--normal-font-weight);
}

.section-subtitle_theme_dark {
  background-color: var(--background-dark);
  color: var(--off-white-color);
}

.table {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1100px;
  padding: 0;
}

.table_theme_dark {
  background-color: var(--background-dark);
  color: var(--off-white-color);
}

.table__row {
  margin: 60px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.table__row_theme_dark {
  margin: 80px 0 0;
}
.table__cell {
  width: 250px;
  list-style: none;
}

.table__cell_theme_dark {
  width: 200px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: var(--semi-bold-font-weight);
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: var(--normal-font-weight);
}

/* Section components end */

/* Feynman */

.feynman {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  background-color: var(--off-white-color);
  margin-top: 100px;
  height: 890px;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: 100px auto 70px;
  text-align: center;
  font-size: 120px;
  font-weight: var(--semi-bold-font-weight);
  line-height: 1.15;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: var(--normal-font-weight);
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: var(--normal-font-weight);
}

/* Feynman end */

/* Kaufman */

.kaufman {
  padding: 90px 0;
  background-color: var(--background-dark);
  position: relative;
  overflow: hidden;
}

/* everything inside kafman needs to be foreground for triangle */
.kaufman * {
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 50px;
  z-index: 0;
  width: 877px;
  height: 877px;
}
/* Kaufman end */

/* Footer */

.footer {
  background-color: var(--background-dark);
  color: var(--off-white-color);
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  line-height: 30px;
}

.footer__column-link {
  text-decoration: none;
  color: var(--off-white-color);
}

.footer__column_heading {
  margin-bottom: 20px;
}

.footer__social-icon {
  /* height: 10px; */
  margin-bottom: 10px;
}

/* Footer end */
