.khan__buy-link {
  color: var(--accent-blue);
  text-decoration: none;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: var(--normal-font-weight);
  align-self: flex-start;
}
